body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #fefeff;
}

#box {
  width: 100px;
  height: 100px;
  background-color: rgb(37, 128, 128);
  position: absolute;
  display: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #a51010;
}

h1, #instructions {
  color: #ffffff;
  background-color: #410870;
  padding: 8px;
  margin: auto;
}

#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #410870;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

#startBtn:hover {
  background-color: #754c9c;
}
